* {
  box-sizing: border-box;
  margin: 1vh;
}

.wrapper {
  padding: 24px;
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
}

.leon {
  height: 480px;
  width: 220;
  display: block;
  margin: 0 auto;
}

li {
  list-style: none;
}
